.servicehero__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: #FFE6D2;
    padding: 40px;
}

.serviceleft__hero__content {
    width: 100%;
    max-width: 600px;
}

.serviceleft__hero__content > h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #232536;
    margin-bottom: 24px;
}

.serviceleft__hero__content > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
    opacity: 0.6;
    margin-bottom: 32px;
}

.servicescta__hero__link {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    width: 160px;
    background: #444CFC;
}

.servicescta__hero__link > a {
    color: #FFFFFF;
}

.right__servicehero__content {
    font-size: 24px;
}

.right__servicehero__content > ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.with__arrow {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    .servicehero__container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .serviceleft__hero__content {
        text-align: center;
        margin-bottom: 40px;
    }

    .serviceleft__hero__content > h1 {
        font-size: 28px;
        line-height: 36px;
    }

    .servicescta__hero__link {
        margin: 0 auto;
    }

    .right__servicehero__content {
        font-size: 18px;
        text-align: center;
    }
}

@media screen and (max-width: 415px) {
    .serviceleft__hero__content > h1 {
        font-size: 24px;
        line-height: 32px;
    }
}

@media screen and (max-width: 376px) {
    .serviceleft__hero__content > h1 {
        font-size: 24px;
        line-height: 28px;
    }

    .serviceleft__hero__content > p {
        font-size: 16px;
        line-height: 20px;
    }

    .right__servicehero__content {
        font-size: 16px;
    }
    .servicescta__hero__link > a {
        margin-left: 15px;
    }
    .with__arrow {
        margin-left: 25px;
    }
}
