.about__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 500px;
    margin-top: 50px;
}

.about__top__left>h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.87;
    margin-bottom: 30px;
}
.about__top {
    display: flex;
    align-items: center;
    
}
.about__top__left {
    max-width: 640px;
}
.about__top__left>h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #232536;
}
.about__top__right>h3 {
    width: 640px;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #232536;
}
.about__top__right {
    max-width: 547px;
}
.about__top__right>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #5D5F6D;
}

.about__middle {
    display: flex;
    gap: 10px;
    margin-top: -450px;
}
.about__middle>img {
    width: 418px;
    height: 446px;
}

.about__bottom {
    margin-top: -450px;
    display: flex;
    align-items: center;
    gap: 630px;
}
.bottom-left {
    display: flex;
    gap: 50px;
}
.numbers {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #232536;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}


.bottom-right {
    display: flex;
    align-items: center;
    gap: 10px;
}
.bottom-right>a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #444CFC;
    opacity: 0.87;
}

/* 768px */
@media screen and (max-width: 768px) {
    .about__top {
        flex-direction: column;
        align-items: center;
    }
    .about__top__left {
        max-width: 500px;
        margin-left: -190px;
        text-align: left;
        margin-bottom: 25px;
    }
    .about__top__left > h2 {
        font-size: 36px;
        line-height: 48px;
    }
    .about__top__right {
        display: none;
    }
    .about__middle {
        flex-direction: column;
        margin-top: -480px;
        gap: 5px;
    }
    .about__middle > img {
        width: 700px;
        height: 500px;
    }
    .about__middle > .third__image > img {
        width: 700px;
        height: 100%;
        margin-bottom: -50px;
    }
    .vertical {
        display: none;
    }
    .numbers {
        font-size: 25px;
    }
    .bottom-right {
        display: none;
    }

  /* 414px */
@media screen and (max-width: 415px) {
    .about__top__left>h4 {
        margin-left: 160px;
    }
    .about__top__left>h2 {
        margin-left: 160px;
        margin-top: -20px;
        font-size: 30px;
        max-width: 350px;
        }
    .about__middle>img {
        width: 380px;
        height: 380px;
        }
    }
    .third__image {
        display: none;
    } 
    .bottom-left {
        margin-left: 15px;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 376px) {
    .about__middle>img {
        width: 350px;
    }
    .about__top {
        margin-left: 40px;
    }
    .bottom-left {
        display: flex;
        flex-wrap: wrap;
    }
}

