.footer__container {
    display: flex;
    align-items: center;
    gap: 300px;
    margin-top: 96px;
    margin-left: 150px;
    width: 80%;
}

.right {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer__left>h2 {
    margin-bottom: 40px;
    max-width: 400px;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #232536;
}
.footer__left>h4 {
    margin-bottom: 28px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #232536;
}
.phone, .email {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #232536;
}

.footer__right {
    display: flex;
    gap: 61px;
}

.first {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #232536;
}
.second {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #232536;
}
.first>ul,
.second>ul,
.third>ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.third {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #232536;
}
.service {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #232536;
}

.middleFooter {
    display: flex;
    align-items: flex-end;
    gap: 820px;
    margin-left: 150px;
    margin-bottom: 50px;
}

.middleFooter>.left>hr {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 268px;
}

.address {
    max-width: 200px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #232536;
}

.footer__bottom {
    display: flex;
    background: #FFE6D2;
    height: 80px;
}
.left__bottom {
    display: flex;
    align-items: center;
    gap: 50px;
}
.footer__content {
    display: flex;
    align-items: center;
    gap: 780px;
    margin-left: 150px; 
}

.social__media {
    display: flex;
    gap: 26.65px;
}