.testimonial__section {
    display: flex;
    gap: 180px;
    align-items: center;
    background: #F9F9FF;
}

.testimonial__left {
    margin-top: 96px;
    margin-left: 120px;
}
.testimonial__left>h2 {
    max-width: 492px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #232536;
}
.testimonial__left>h4 {
    font-weight: 500;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 28px;
    color: #232536;
}
.testimonial__left>p {
    max-width: 492px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
    opacity: 0.87;
}
.testimonial__left-avatar {
    display: flex;
    gap: 12px;
}
.testimonial__left-avatar>img {
    margin-bottom: 14px;
    object-fit: cover;
    width: 48px;
    height: 48px;
}
.testimonial__left>.review {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.blue__box {
    margin-bottom: 16px;
    width: 16px;
    height: 16px;
    background: #666DFF;
}
