.our__team__container {
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team__top {
    margin-left: -780px;
    margin-bottom: 50px;
    margin-top: 50px;
    max-width: 800px;
}
.team__top > h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.87;
    margin-bottom: 30px;
}
.team__top > h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #232536;
    max-width: 450px;
}
.team__top > p {
    margin-top: 24px;
    max-width: 500px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #5D5F6D;
}

.team__img__top {
    display: flex;
    flex-direction: column;
}
